<h3>{{"gymConfig.title" | translate}}</h3>
<p>{{"gymConfig.description" | translate}}</p>
<ul>
  <li>
    {{"gymConfig.membershipTypes" | translate}}
  </li>
  <li>
    {{"gymConfig.others" | translate}}
  </li>
</ul>
<section id="admin-membership-types" class="mb-4">
  <a data-bs-toggle="collapse" class="d-flex align-items-center justifiy-content-between" role="button" href="#membershipList" aria-expanded="false" aria-controls="membershipList">
    <h3 class="me-2">{{"gymConfig.membershipTypes" | translate}}</h3>
    <i class="bi bi-chevron-down rotate-icon"></i>
  </a>
  <div class="collapse" id="membershipList">
    <p>{{"gymConfig.membershipTypesDescription" | translate}}</p>
    <app-membership-type-list [isAdmin]="true"></app-membership-type-list>
  </div>
</section>

<section id="admin-gym-team">
  <a data-bs-toggle="collapse" class="d-flex align-items-center justifiy-content-between" role="button" href="#gym-team" aria-expanded="false" aria-controls="membershipList">
    <h3 class="me-2">{{"gymConfig.yourStaff" | translate}}</h3>
    <i class="bi bi-chevron-down rotate-icon"></i>
  </a>
  <div class="collapse" id="gym-team">
    <p>{{"gymConfig.gymStaffDescription" | translate}}</p>
    <app-gym-team-list></app-gym-team-list>
  </div>
</section>
