<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-4">
      <form [formGroup]="adminChangePasswordForm" (ngSubmit)="changeUserPassword()" class="text-start">
        <h3 class="mt-3 mb-3">{{"changePassword.admin.title" | translate}}</h3>
        <p>{{"changePassword.admin.message" | translate}}</p>

        <!-- Documento del usuario -->
        <div class="mb-3">
          <label for="document" class="form-label">{{"changePassword.admin.document" | translate}}</label>
          <input
            type="number"
            class="form-control"
            [ngClass]="{'is-invalid': adminChangePasswordForm.get('document')?.touched && adminChangePasswordForm.get('document')?.invalid}"
            id="document"
            formControlName="document"
            [placeholder]="'changePassword.admin.documentPlaceholder' | translate">
          <div *ngIf="adminChangePasswordForm.get('document')?.touched && adminChangePasswordForm.get('document')?.hasError('required')"
               class="custom-invalid-feedback">
            {{"userForm.documentRequired" | translate}}
          </div>
          <div *ngIf="adminChangePasswordForm.get('document')?.touched && adminChangePasswordForm.get('document')?.hasError('min')"
               class="custom-invalid-feedback">
            {{"changePassword.admin.documentError" | translate}}
          </div>
        </div>

        <div class="mb-3">
          <label for="newPassword" class="form-label">{{"changePassword.newPassword" | translate}}</label>
          <input
            type="password"
            class="form-control"
            [ngClass]="{'is-invalid': adminChangePasswordForm.get('newPassword')?.touched && adminChangePasswordForm.get('newPassword')?.invalid}"
            id="newPassword"
            formControlName="newPassword"
            [placeholder]="'changePassword.admin.passwordPlaceholder' | translate">
          <div *ngIf="adminChangePasswordForm.get('newPassword')?.touched && getPasswordErrors().length > 0"
               class="custom-invalid-feedback">
            <ul class="mb-0 ps-3">
              <li *ngFor="let error of getPasswordErrors()">{{ error }}</li>
            </ul>
          </div>
        </div>

        <!-- Confirmar contraseña -->
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">{{"changePassword.confirmPassword" | translate}}</label>
          <input
            type="password"
            class="form-control"
            [ngClass]="{'is-invalid': adminChangePasswordForm.get('confirmPassword')?.touched &&
                                    (adminChangePasswordForm.get('confirmPassword')?.hasError('required') ||
                                     adminChangePasswordForm.get('confirmPassword')?.hasError('passwordMismatch'))}"
            id="confirmPassword"
            formControlName="confirmPassword"
            [placeholder]="'changePassword.admin.passwordConfirmPlaceholder' | translate">
          <div *ngIf="adminChangePasswordForm.get('confirmPassword')?.touched" class="custom-invalid-feedback">
            <div *ngIf="adminChangePasswordForm.get('confirmPassword')?.hasError('required')">
              {{"changePassword.confirmPasswordNecessary" | translate}}
            </div>
            <div *ngIf="adminChangePasswordForm.get('confirmPassword')?.hasError('passwordMismatch')">
              {{"changePassword.passwordsDoNotMatch" | translate}}
            </div>
          </div>
        </div>

        <!-- Botones -->
        <div class="d-flex align-items-center">
          <button type="submit" class="btn btn-custom me-2" [disabled]="adminChangePasswordForm.invalid">
            {{"changePassword.title" | translate}}
          </button>
          <a [routerLink]="['/dashboard']" class="text-decoration-none text-secondary">{{"changePassword.goBack" | translate}}</a>
        </div>
      </form>
    </div>
  </div>
</div>
