<button type="button" class="btn btn-custom" (click)="openModal(undefined)" *ngIf="isAdmin">{{"membershipTypeList.button" | translate}}</button>

<div class="container mt-4">
  <div class="row g-4">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let type of membershipTypes">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <h4 class="card-title type-title">{{ type.name }}</h4>
          <p class="card-text">{{ type.price | currency:'COP':'symbol'}}</p>

          <h5>{{"membershipTypeList.features" | translate}}</h5>
          <ul>
            <li *ngFor="let feature of parseDescription(type.description)">
              {{ feature }}
            </li>
          </ul>

          <h5>{{"membershipTypeList.additionalFeatures" | translate}}</h5>
          <ul>
            <!-- Opción Transferible -->
            <ng-template [ngIf]="type.isTransferable" [ngIfElse]="notTransferable">
              <li>Con opción de transferir tu plan</li>
            </ng-template>
            <ng-template #notTransferable>
              <li>Sin opción de transferir tu plan</li>
            </ng-template>

            <!-- Opción Congelable -->
            <ng-template [ngIf]="type.isFreezable" [ngIfElse]="notFreezable">
              <li>Con opción de congelar tu plan hasta 15 días</li>
            </ng-template>
            <ng-template #notFreezable>
              <li>Sin opción de congelar tu plan</li>
            </ng-template>
          </ul>
        </div>

        <div class="card-footer d-flex justify-content-left" *ngIf="isAdmin">
          <button class="btn btn-custom btn-sm me-2" (click)="openModal(type)">
            {{"Editar" | translate}}
          </button>
          <button
            [ngClass]="type.isVisible ? 'btn btn-success btn-sm' : 'btn btn-secondary btn-sm'"
            class="ms-2" (click)="toggleVisibility(type.id)">
            {{ type.isVisible ? "Visible" : 'membershipTypeList.notVisible' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="membershipModal" tabindex="-1" aria-labelledby="membershipModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-5" id="membershipModalLabel">
          {{ selectedMembershipType ? 'Editar' : 'membershipTypeList.createPlan' | translate }}
        </h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" [ariaLabel]="'homePage.headquarters.close' | translate"></button>
      </div>
      <div class="modal-body">
        <app-membership-type-form [membershipType]="selectedMembershipType"></app-membership-type-form>
      </div>
    </div>
  </div>
</div>


