<form [formGroup]="form" (ngSubmit)="save()">
  <div class="mb-3">
    <h2>Crear nuevo usuario</h2>
    <label for="firstName" class="form-label">Nombres</label>
    <input type="text" class="form-control" formControlName="firstName" id="firstName" placeholder="Nombres">
  </div>
  <div class="mb-3">
    <label for="lastName" class="form-label">Apellidos</label>
    <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Apellidos">
  </div>
  <div class="mb-3">
    <label for="phone" class="form-label">Teléfono</label>
    <input type="text" class="form-control" id="phone" formControlName="phone" placeholder="Teléfono">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Correo Electrónico</label>
    <input type="email" class="form-control" id="email" formControlName="email" placeholder="Correo Electrónico">
  </div>
  <div class="mb-3">
    <label for="document" class="form-label">Número de identificación</label>
    <input type="text" class="form-control" id="document" formControlName="document" placeholder="Número de identificación">
  </div>
  <div class="mb-3">
    <label for="dateOfBirth" class="form-label">Fecha de Nacimiento</label>
    <input type="date" class="form-control" formControlName="dateOfBirth" id="dateOfBirth">
  </div>
  <div class="mb-3">
    <label for="gender" class="form-label">Género</label>
    <select class="form-control" id="gender" formControlName="gender">
      <option *ngFor="let gender of genders" [value]="gender.id">{{ gender.genderName }}</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="eps" class="form-label">EPS</label>
    <select class="form-control" formControlName="eps" id="eps">
      <option *ngFor="let eps of eps" [value]="eps.id">{{ eps.epsName }}</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="bloodType" class="form-label">Tipo de Sangre</label>
    <select class="form-control" id="bloodType" formControlName="bloodType">
      <option *ngFor="let bloodType of bloodTypes" [value]="bloodType.id">{{ bloodType.bloodTypeName }}</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="bloodRh" class="form-label">RH</label>
    <select class="form-control" id="bloodRh" formControlName="bloodRh">
      <option *ngFor="let bloodRh of bloodRhs" [value]="bloodRh.id">{{ bloodRh.bloodRh }}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
