.navbar-custom {
  background-color: var(--color-yellow);
}

.navbar-custom .nav-link,
.navbar-custom .navbar-text {
  color: var(--color-black);
}

.navbar-custom .icon {
  font-size: 2em;
  padding-right: 1rem;
  color: var(--color-black);
}

.navbar .icon:hover {
  color: #383b3d;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--color-black);
}

