<div class="container mt-2">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-4 text-align-justify">
        <h3 clas="mt-2">{{"freezeMembership.title" | translate}}</h3>
        <p>{{"freezeMembership.message" | translate}} <strong>{{ membershipTypeName }}</strong> {{"freezeMembership.message2" | translate}} <strong>{{ userDocument }}</strong>. {{"freezeMembership.message3" | translate}}</p>
        <label for="days" class="form-label">{{"freezeMembership.label" | translate}}</label>
        <input type="number" min="1" max="15" id="days" [(ngModel)]="days" class="form-control" [placeholder]="'freezeMembership.placeholder' | translate">
        <button class="btn btn-custom mt-2 mb-2" (click)="freezeMembership()">{{"freezeMembership.confirm" | translate}}</button>
    </div>
  </div>
</div>
