<div class="container mt-2">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-4 text-align-justify">
        <h3 clas="mt-2">Transferir membresía</h3>
        <p>Estás a punto de transferir la membresía de tipo <strong>{{ membershipTypeName }}</strong> del usuario con documento <strong>{{ userDocument }}</strong>. Por favor, introduce a continuación el documento del usuario al que deseas transferir la membresía:</p>
        <label for="transferDocument" class="form-label">Documento</label>
        <input type="text" id="transferDocument" [(ngModel)]="transferDocument" class="form-control" placeholder="Documento del usuario a transferir">
        <button class="btn btn-custom mt-2 mb-2" (click)="searchUser()">Buscar</button>

        <div *ngIf="userFound">
          <p><strong>Usuario:</strong> {{ userFound.firstName }} {{ userFound.lastName }}</p>
          <p><strong>Email:</strong> {{ userFound.email }}</p>
          <button class="btn btn-custom" (click)="transferMembership()">Confirmar Transferencia</button>
        </div>
    </div>
  </div>
</div>
