<section class="metrics-summary mt-3 row">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 metric-card d-flex justify-content-center analytic-chart-container">
    <app-metric-card
      [value]="totalSales"
      icon="fas fa-shopping-bag"
      title="Ventas del mes">
    </app-metric-card>
  </div>

  <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 metric-card d-flex justify-content-center analytic-hover analytic-chart-container">
    <app-metric-card
      [value]="totalEarnings"
      icon="fas fa-dollar-sign"
      title="Ingresos totales">
    </app-metric-card>
  </div>

  <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 metric-card d-flex justify-content-center analytic-chart-container">
    <app-metric-card
      [value]="activeUsers"
      icon="fas fa-users"
      title="Miembros activos">
    </app-metric-card>
  </div>

  <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 metric-card d-flex justify-content-center analytic-chart-container">
    <app-metric-card
      [value]="recentUsers"
      icon="fas fa-user-plus"
      title="Miembros nuevos">
    </app-metric-card>
  </div>
</section>

<section class="charts-section row  mx-3">
  <div class="col-12 col-lg-6 mb-3 line-chart-container analytic-chart-container">
    <canvas id="concurrencyChart"></canvas>
  </div>

  <div class="col-12 col-lg-6 mb-3 pie-chart-container analytic-chart-container">
    <canvas id="membershipChart"></canvas>
  </div>
</section>
