<h3>Configuración de tu gimnasio</h3>
<p>A continuación puedes visualizar y cambiar algunos aspectos administrativos de tu gimnasio:</p>
<ul>
  <li>
    Tipos de membresía.
  </li>
  <li>
    Tus asesores, entrenadores y personal de apoyo.
  </li>
</ul>
<section id="admin-membership-types">
  <a data-bs-toggle="collapse" class="d-flex align-items-center justifiy-content-between" role="button" href="#membershipList" aria-expanded="false" aria-controls="membershipList">
    <h3 class="me-2">Tipos de membresía</h3>
    <i class="bi bi-chevron-down rotate-icon"></i>
  </a>
  <div class="collapse" id="membershipList">
    <p>A continuación verás las membresías tal cual se muestran en tu home page, puedes escoger si la membresía esta disponible para venderse o no:</p>
    <app-membership-type-list [isAdmin]="true"></app-membership-type-list>
  </div>
</section>
