<h3>Configuración de tu gimnasio</h3>
<p>A continuación puedes visualizar y cambiar algunos aspectos administrativos de tu gimnasio:</p>
<ul>
  <li>
    Tipos de membresía.
  </li>
  <li>
    Tus asesores, entrenadores y personal de apoyo.
  </li>
</ul>
<section id="admin-membership-types" class="mb-4">
  <a data-bs-toggle="collapse" class="d-flex align-items-center justifiy-content-between" role="button" href="#membershipList" aria-expanded="false" aria-controls="membershipList">
    <h3 class="me-2">Tipos de membresía</h3>
    <i class="bi bi-chevron-down rotate-icon"></i>
  </a>
  <div class="collapse" id="membershipList">
    <p>A continuación verás las membresías tal cual se muestran en tu home page, puedes escoger si la membresía esta disponible para venderse o no:</p>
    <button class="btn btn-custom" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="bi bi-plus"></i> Crear plan
    </button>
    <app-membership-type-list [isAdmin]="true"></app-membership-type-list>
  </div>
</section>

<section id="admin-gym-team">
  <a data-bs-toggle="collapse" class="d-flex align-items-center justifiy-content-between" role="button" href="#gym-team" aria-expanded="false" aria-controls="membershipList">
    <h3 class="me-2">Tu equipo</h3>
    <i class="bi bi-chevron-down rotate-icon"></i>
  </a>
  <div class="collapse" id="gym-team">
    <p>En esta sección puedes visualizar cómo está conformado tu equipo de trabajo. Podrás editar los roles de los usuarios asociados.</p>
    <app-gym-team-list></app-gym-team-list>
  </div>
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-5" id="exampleModalLabel">Crear nuevo plan</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-membership-type-form></app-membership-type-form>
      </div>
    </div>
  </div>
</div>
