.metric-card {
  background-color: var(--color-black);
  padding: 20px;
  border-radius: 8px;
  width: 240px;
  height: 120px;
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.icon {
  font-size: 22px;
  color: var(--color-yellow);
  margin-left: auto;
}

p {
  margin: 0;
  font-size: 18px;
  color: white;
}

#title {
  font-weight: 600;
  white-space: nowrap;
}

#value {
  font-size: 22px;
}
