<section id="login-page">
  <div class="login-form shadow-lg">
    <h3><strong>Ingreso Staff</strong></h3>
    <p>ingrese sus credenciales</p>
    <form [formGroup]="adminLoginForm" (ngSubmit)="login()">
      <div class="input-group mb-3">
        <label for="email" class="form-label"><i class="bi bi-envelope-fill"></i></label>
        <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email">
        <div *ngIf="adminLoginForm.get('email')?.hasError('required') && adminLoginForm.get('email')?.touched" class="invalid-feedback d-block custom-invalid-feedback">
          ¡El email es necesario!
        </div>
        <div *ngIf="adminLoginForm.get('email')?.hasError('email') && adminLoginForm.get('email')?.touched" class="invalid-feedback d-block custom-invalid-feedback">
          ¡El email no es válido!
        </div>
      </div>
      <div class="input-group mb-3">
        <label for="password" class="form-label"><i class="bi bi-lock-fill"></i></label>
        <input type="password" class="form-control" formControlName="password" id="password" placeholder="Contraseña">
        <div *ngIf="adminLoginForm.get('password')?.hasError('required') && adminLoginForm.get('password')?.touched" class="invalid-feedback d-block custom-invalid-feedback">
          ¡La contraseña es necesaria!
        </div>
        <div *ngIf="adminLoginForm.get('password')?.hasError('minlength') && adminLoginForm.get('password')?.touched" class="invalid-feedback d-block custom-invalid-feedback">
          ¡La contraseña no es válida!
        </div>
        <div *ngIf="loginError" class="invalid-feedback d-block custom-invalid-feedback">
          {{ loginError }}
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
      <a href="#">volver al inicio</a>
    </form>
  </div>
</section>
