<div class="d-flex gap-3 mb-3">
  <h3>
    Membresías
    <span *ngIf="user; else noUser"> del usuario</span>
    <ng-template #noUser> existentes</ng-template>
  </h3>
  <button *ngIf="user" class="btn btn-custom" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" [disabled]="hasActiveMembership">
    <i class="bi bi-plus"></i> Crear
  </button>
</div>

<div class="table-responsive" *ngIf="memberships.length > 0; else noMemberships">
  <table class="table table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th *ngIf="!user">Documento</th>
        <th>Tipo de membresía</th>
        <th>Fecha de inicio</th>
        <th>Fecha de fin</th>
        <th>Estado</th>
        <th>Fecha de compra</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody class="text-nowrap">
      <tr *ngFor="let membership of memberships"
        [ngClass]="{'bg-success-light': membership.membershipStatus === 'ACTIVA',
                    'bg-danger-light': membership.membershipStatus === 'INACTIVA'}">
        <td *ngIf="!user"><a [routerLink]="['/dashboard/users', membership.userDocument]" matTooltip="Ver usuario">{{ membership.userDocument }}</a></td>
        <td>{{ membership.membershipTypeName }}</td>
        <td>{{ membership.startDate}}</td>
        <td>{{ membership.endDate }}</td>
        <td>{{ membership.membershipStatus }}</td>
        <td>{{ membership.saleDate }}</td>
        <td class="d-flex justify-content-center">
          <div class="btn-group" role="group">
            <button *ngIf="membership.membershipStatus === 'ACTIVA' && isTransferable(membership.membershipTypeName)" class="btn btn-custom btn-sm me-2" matTooltip="Transferir membresía" [routerLink]="['/dashboard/transfer-membership']" [state]="{ membershipId: membership.id, membershipTypeName: membership.membershipTypeName, userDocument: membership.userDocument}">
              <i class="bi bi-people"></i>
            </button>
            <button *ngIf="membership.membershipStatus === 'ACTIVA' && isFreezable(membership.membershipTypeName)" class="btn btn-primary btn-sm me-2" matTooltip="Congelar membresía">
              <i class="bi bi-snow"></i>
            </button>
            <button *ngIf="membership.membershipStatus !== 'ACTIVA' || !isTransferable(membership.membershipTypeName) && !isFreezable(membership.membershipTypeName)" class="btn" matTooltip="Sin acciones disponibles">
              <i class="bi bi-info-circle"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <nav class="pagination-nav" aria-label="Page navigation">
    <ul class="pagination pagination-menu justify-content-center">
      <li class="page-item" [class.disabled]="page === 0">
        <button class="page-link" aria-label="Previous" (click)="previousPage()">
          <span aria-hidden="true">&laquo;</span>
        </button>
      </li>
      <li class="page-item" *ngFor="let p of [].constructor(totalPages); let i = index" [class.active]="i === page">
        <button class="page-link" (click)="page = i; loadMemberships()">{{ i + 1 }}</button>
      </li>
      <li class="page-item" [class.disabled]="page === totalPages - 1">
        <button class="page-link" aria-label="Next" (click)="nextPage()">
          <span aria-hidden="true">&raquo;</span>
        </button>
      </li>
    </ul>
  </nav>
</div>
<ng-template #noMemberships>
  <p>No hay membresías registradas</p>
</ng-template>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-5" id="exampleModalLabel">Crear membresía</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-membership-form></app-membership-form>
      </div>
    </div>
  </div>
</div>
