<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
      <div class="ms-auto d-flex align-items-center">
        <i class="bi bi-bell icon"></i>
          <div class="text-end">
              <div><strong>Carlos Castro</strong></div>
              <div class="text-muted small">Administrador</div>
          </div>
          <a href="#" class="nav-link" title="Opciones">
              <i class="bi bi-person-circle icon ms-3"></i>
          </a>
      </div>
  </div>
</nav>
