<h3 class="mt-2">{{"expiring.title" | translate}}</h3>
<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th>{{"usersList.name" | translate}}</th>
        <th>{{"usersList.document" | translate}}</th>
        <th>{{"usersList.phone" | translate}}</th>
        <th>{{"membershipsList.type" | translate}}</th>
        <th>{{"membershipsList.endDate" | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let membership of memberships">
        <td>{{membership.userNames}}</td>
        <td>{{membership.userDocument}}</td>
        <td>{{membership.userPhone}}
          <a [href]="getWhatsAppLink(membership)" target="_blank" class="ms-2" [matTooltip]="'expiring.contact' | translate">
            <i class="bi bi-whatsapp text-success"></i>
          </a>
        </td>
        <td>{{membership.membershipTypeName}}</td>
        <td>{{membership.endDate | date: 'dd/MM/yyyy'}}</td>
      </tr>
    </tbody>
  </table>
