<h3>Usuarios existentes</h3>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Documento</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Teléfono</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.document }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.phone }}</td>
        <td class="d-flex ">
          <div class="btn-group" role="group">
            <button class="btn btn-primary btn-sm me-2" title="Ver Detalle" [routerLink]="[user.document]">
              <i class="bi bi-eye-fill"></i>
            </button>
            <button class="btn btn-danger btn-sm me-2" title="Eliminar">
              <i class="bi bi-trash-fill"></i>
            </button>
            <button class="btn btn-warning btn-sm" title="Asignar Roles">
              <i class="bi bi-person-badge-fill"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
