<div class="dropdown">
  <div class="position-relative d-inline-block" role="button" id="notificationDropdown" data-bs-toggle="dropdown">
    <i class="bi bi-bell icon me-1"></i>
    <span *ngIf="hasNotifications" class="notification-badge">
      {{ notifications }}
    </span>
  </div>
  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationDropdown">
    <li *ngIf="!hasNotifications" class="dropdown-item">No hay notificaciones</li>
    <li *ngIf="hasNotifications" class="dropdown-item">
      <a (click)="navigateToExpiringMemberships()">Hay {{ notifications }} membresías por expirar</a>
    </li>
  </ul>
</div>
