<div class="d-flex gap-3 mb-3">
  <h3>
    Membresías
    <span *ngIf="user; else noUser"> del usuario</span>
    <ng-template #noUser> existentes</ng-template>
  </h3>
  <button *ngIf="user" class="btn btn-custom" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" [disabled]="hasActiveMembership">
    <i class="bi bi-plus"></i> Crear
  </button>
</div>
<div class="table-responsive" *ngIf="memberships.length > 0; else noMemberships">
  <table class="table table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th *ngIf="!user">Documento</th>
        <th>Tipo de membresía</th>
        <th>Fecha de inicio</th>
        <th>Fecha de fin</th>
        <th>Estado</th>
        <th>Fecha de compra</th>
      </tr>
    </thead>
    <tbody class="text-nowrap">
      <tr *ngFor="let membership of memberships"
        [ngClass]="{'bg-success-light': membership.membershipStatus === 'ACTIVA',
                    'bg-danger-light': membership.membershipStatus === 'INACTIVA'}">
        <td *ngIf="!user"><a [routerLink]="['/dashboard/users', membership.userDocument]">{{ membership.userDocument }}</a></td>
        <td>{{ membership.membershipTypeName }}</td>
        <td>{{ membership.startDate}}</td>
        <td>{{ membership.endDate }}</td>
        <td>{{ membership.membershipStatus }}</td>
        <td>{{ membership.saleDate }}</td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noMemberships>
  <p>No hay membresías registradas</p>
</ng-template>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-5" id="exampleModalLabel">Crear membresía</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-membership-form></app-membership-form>
      </div>
    </div>
  </div>
</div>
