<button class="btn btn-warning d-lg-none" id="sidebar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar" title="Toggle sidebar">
  <i class="bi bi-list"></i>
</button>

<!-- Small screen off canvas -->
<div class="offcanvas offcanvas-start d-lg-none" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
  <div class="offcanvas-header">
    <a class="navbar-brand" [routerLink]="['']">
      <i class="fas fa-dumbbell fa-1x"></i> Active Gym
    </a>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav flex-column links-list">
      <li class="nav-item d-flex align-items-center" data-bs-dismiss="offcanvas" *ngIf="hasRole('ADMINISTRADOR') || hasRole('ASESOR')">
        <i class="bi bi-graph-up"></i>
        <a class="nav-link" [routerLink]="['/dashboard/analytics']">Estadísticas</a>
      </li>
      <li class="nav-item d-flex align-items-center" data-bs-dismiss="offcanvas" routerLinkActive="active-link" *ngIf="hasRole('ADMINISTRADOR') || hasRole('ASESOR')">
        <i class="bi bi-card-checklist"></i>
        <a class="nav-link" [routerLink]="['/dashboard/memberships-list']">Gestionar membresías</a>
      </li>
      <li class="nav-item d-flex align-items-center" data-bs-dismiss="offcanvas" routerLinkActive="active-link" *ngIf="hasRole('ADMINISTRADOR') || hasRole('ASESOR')">
        <i class="bi bi-person-fill"></i>
        <a class="nav-link" [routerLink]="['/dashboard/users']">Gestionar usuarios</a>
      </li>
      <li class="nav-item d-flex align-items-center" data-bs-dismiss="offcanvas" routerLinkActive="active-link" *ngIf="hasRole('ADMINISTRADOR')">
        <i class="bi bi-lock-fill"></i>
        <a class="nav-link" [routerLink]="['/dashboard/admin-change-password']">Contraseñas</a>
      </li>
      <li class="nav-item d-flex align-items-center" data-bs-dismiss="offcanvas" routerLinkActive="active-link" *ngIf="hasRole('ADMINISTRADOR') || hasRole('ASESOR')">
        <i class="bi bi-person-plus-fill"></i>
        <a class="nav-link" [routerLink]="['/dashboard/user-form']">Crear usuario</a>
      </li>
      <li class="nav-item d-flex align-items-center" data-bs-dismiss="offcanvas" routerLinkActive="active-link" *ngIf="hasRole('ADMINISTRADOR')">
        <i class="bi bi-gear-fill"></i>
        <a class="nav-link" [routerLink]="['/dashboard/gymconfig']">Mi gimnasio</a>
      </li>
    </ul>
  </div>
</div>

<!-- Big screens sidebar -->
<div id="sidebar" class="d-none d-lg-block text-white p-3">
  <a class="navbar-brand" [routerLink]="['']">
    <i class="fas fa-dumbbell fa-1x"></i> Active Gym
  </a>
  <ul class="nav flex-column links-list">
    <li class="nav-item d-flex align-items-center" routerLinkActive="active-link" *ngIf="hasRole('ADMINISTRADOR') || hasRole('ASESOR')">
      <i class="bi bi-graph-up"></i>
      <a class="nav-link" [routerLink]="['/dashboard/analytics']">Estadísticas</a>
    </li>
    <li class="nav-item d-flex align-items-center" routerLinkActive="active-link" *ngIf="hasRole('ADMINISTRADOR') || hasRole('ASESOR')">
      <i class="bi bi-card-checklist"></i>
      <a class="nav-link" [routerLink]="['/dashboard/memberships-list']">Gestionar membresías</a>
    </li>
    <li class="nav-item d-flex align-items-center" routerLinkActive="active-link" *ngIf="hasRole('ADMINISTRADOR') || hasRole('ASESOR')">
      <i class="bi bi-person-fill"></i>
      <a class="nav-link" [routerLink]="['/dashboard/users']">Gestionar usuarios</a>
    </li>
    <li class="nav-item d-flex align-items-center" data-bs-dismiss="offcanvas" routerLinkActive="active-link" *ngIf="hasRole('ADMINISTRADOR')">
      <i class="bi bi-lock-fill"></i>
      <a class="nav-link" [routerLink]="['/dashboard/admin-change-password']">Contraseñas</a>
    </li>
    <li class="nav-item d-flex align-items-center" routerLinkActive="active-link" *ngIf="hasRole('ADMINISTRADOR') || hasRole('ASESOR')">
      <i class="bi bi-person-plus-fill"></i>
      <a class="nav-link" [routerLink]="['/dashboard/user-form']">Crear usuario</a>
    </li>
    <li class="nav-item d-flex align-items-center" routerLinkActive="active-link" *ngIf="hasRole('ADMINISTRADOR')">
      <i class="bi bi-gear-fill"></i>
      <a class="nav-link" [routerLink]="['/dashboard/gymconfig']">Mi gimnasio</a>
    </li>
  </ul>
</div>
