:root {
  --color-black: #212529;
  --color-yellow: #ffc107;
  --color-white: #fff;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-weight: bold;
}

label {
  font-weight: 450;
}

.btn-custom {
  background-color: var(--color-yellow);
  font-weight: 500;
}
