/* You can add global styles to this file, and also import other style files */
:root {
  --color-black: #212529;
  --color-yellow: #ffc107;
  --color-white: #fff;
}

body {
  font-family: 'Montserrat', sans-serif;
}
