.content-container {
  margin-left: 275px;
  margin-top: 8px;
  padding: 5px 20px;
  height: calc(100vh - 60px);
}

@media (max-width: 991px) {
  .content-container {
    margin-left: 0;
    width: 100%;
  }
}
