<section id="admins">
  <h5>
    {{"gymTeam.admins" | translate}}
    <i class="bi bi-info-circle fs-6" [matTooltip]="'gymTeam.adminTooltip' | translate" [matTooltipPosition]="'right'">
    </i>
  </h5>
  <ul *ngIf="admins.length > 0; else noAdmins">
    <li *ngFor="let admin of admins">
      {{ admin.firstName }} {{ admin.lastName }} - {{ admin.document }}
    </li>
  </ul>
  <ng-template #noAdmins>
    <p>{{"gymTeam.noAdmins" | translate}}</p>
  </ng-template>
</section>

<section id="advisors">
  <h5>
    {{"gymTeam.advisors" | translate}}
    <i class="bi bi-plus-circle fs-6" [matTooltip]="'gymTeam.addAdvisor' | translate" [matTooltipPosition]="'right'" role="button" (click)="openModal('ASESOR')"></i>
  </h5>
  <ul *ngIf="advisors.length > 0; else noAdvisors">
    <li *ngFor="let advisor of advisors">
      {{ advisor.firstName }} {{ advisor.lastName }} - {{ advisor.document }}
      <i class="bi bi-x text-danger fs-5" [matTooltip]="'gymTeam.revoke' | translate"  [matTooltipPosition]="'right'" role="button" (click)="revokeRole(advisor.document, 'ASESOR')"></i>
    </li>
  </ul>
  <ng-template #noAdvisors>
    <p>{{"gymTeam.noAdvisors" | translate}}</p>
  </ng-template>
</section>

<section id="trainers">
  <h5>
    {{"gymTeam.trainers" | translate}}
    <i class="bi bi-plus-circle fs-6" [matTooltip]="'gymTeam.addTrainer' | translate"  [matTooltipPosition]="'right'" role="button" (click)="openModal('ENTRENADOR')"></i>
  </h5>
  <ul *ngIf="trainers.length > 0; else noTrainers">
    <li *ngFor="let trainer of trainers">
      {{ trainer.firstName }} {{ trainer.lastName }} - {{ trainer.document }}
      <i class="bi bi-x text-danger fs-5" [matTooltip]="'gymTeam.revoke' | translate"  [matTooltipPosition]="'right'" role="button" (click)="revokeRole(trainer.document, 'ENTRENADOR')"></i>
    </li>
  </ul>
  <ng-template #noTrainers>
    <p>{{"gymTeam.noTrainers" | translate}}</p>
  </ng-template>
</section>

<section id="cleaning-staff">
  <h5>
    {{"gymTeam.support" | translate}}
    <i class="bi bi-plus-circle fs-6" [matTooltip]="'gymTeam.addSupport' | translate"  [matTooltipPosition]="'right'" role="button" (click)="openModal('PERSONAL DE ASEO')"></i>
  </h5>
  <ul *ngIf="cleaningStaff.length > 0; else noCleaningStaff">
    <li *ngFor="let staff of cleaningStaff">
      {{ staff.firstName }} {{ staff.lastName }} - {{ staff.document }}
      <i class="bi bi-x text-danger fs-5" [matTooltip]="'gymTeam.revoke' | translate"  [matTooltipPosition]="'right'" role="button" (click)="revokeRole(staff.document, 'PERSONAL DE ASEO')"></i>
    </li>
  </ul>
  <ng-template #noCleaningStaff>
    <p>{{"gymTeam.noSupport" | translate}}</p>
  </ng-template>
</section>

<div
  class="modal fade"
  [ngClass]="{ show: showModal }"
  [style.display]="showModal ? 'block' : 'none'"
  tabindex="-1"
  role="dialog"
  >
  <div class="modal-dialog modal-dialog-centered">
        <app-role-assignment
          [role]="selectedRole"
          (closeModal)="closeModal()"
          (roleAssigned)="onRoleAssigned()"
        ></app-role-assignment>
  </div>
</div>
